doctype html
html
  head
    meta(charset='utf-8')
    link(href='https://fonts.googleapis.com/css?family=Sintony:700', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='../css/lines.css')
    script.
      var dataSource = '../models/times2016.json';
  body
    #my-wrapper
      #title  Live Sign-Ups 
      #subtitle
        | Check out how many people are signing in to Datamatch live in the graph below. Filter by gender, house, or year.
      center
        #button-container
          center
            each category in ['Gender', 'House', 'Year', 'All']
              input.filter-button.button.hvr-fade(type='button', value=category, onclick='clicked("' + category + '")')
          svg(width='960', height='500', style='z-index: 0;')
  script(src='https://d3js.org/d3.v4.min.js')
  script(src='../js/lines.js')